<div class="Layer-0" (scroll)="scroll($event)">
  <h1 class="Colleges-in-North-India heading-layout">
    Colleges in North India
  </h1>
  <div class="card-layout">
    <div class="Rectangle-1 rectangle-layout" *ngFor="let data of collegeData">
      <div
        style="position: absolute; top: -18px; z-index: 1; right: -1.4px;"
        *ngIf="data.promoted == true"
      >
        <div class="promoted-tag PROMOTED">
          Promoted
        </div>
      </div>
      <div class="Rectangle-1-copy-5">
        <img
          src="/assets/images/{{ data.image }}"
          alt="college-image"
          class="Rectangle-1-copy-5"
        />
        <div class="Rectangle-3">
          <div class="-Very-Good">
            <div>
              <span class="text-style-1">{{ data.rating }}</span
              >/5
            </div>
            <div>{{ data.rating_remarks }}</div>
          </div>
        </div>
      </div>
      <span *ngFor="let tag of data.tags" class="Rectangle-2">
        <span class="Best-college-2018">{{ tag | titlecase }}</span>
      </span>
      <span class="in-260-colleges-in-north-campus">#{{ data.ranking }}</span>
      <div style="margin-top: -3px;">
        <span class="Hansraj-College-Delhi-University">{{
          data.college_name
        }}</span>
        <div class="star-rating">
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star"></span>
          <span class="fa fa-star" style="opacity: 0.5;"></span>
        </div>
        <span
          ><del class="price"
            ><span class="text-style-1">₹</span>{{ data.original_fees }}</del
          ></span
        >
        <div style="position: absolute; right: 27px; bottom: 116px;">
          <div class="discount-tag">
            <span class="discount-text">{{ data.discount }}</span>
          </div>
        </div>
      </div>
      <div style="margin-left: 17px; margin-top: -2px;">
        <span
          class="Near-Vishwavidyalya-Metro-Station"
          *ngFor="
            let place of data.nearest_place;
            let last = last;
            let first = first
          "
          ><span [ngStyle]="{ color: last ? '#adadad' : '' }"
            >{{ place }}{{ last ? "" : " | " }}</span
          >
        </span>
        <span class="discounted-price"
          ><span class="text-style-2">₹</span> {{ data.discounted_fees }}</span
        >
        <div class="nearest-places-layout">
          <span class="text-style-3">93% Match :</span>
          {{ data.famous_nearest_places }}
        </div>
        <span class="Per-Semester-3months">{{ data.fees_cycle }}</span>
        <div class="Rectangle-4">
          <span class="Rectangle-5">{{ data.offertext }}</span>
        </div>
        <span class="amenity-layout">
          <span
            *ngFor="let amenties of data.amenties; let last = last"
            class="Free-Cancellation"
            ><span
              >{{ amenties }}<span>{{ last ? "" : "  .  " }}</span></span
            ></span
          ></span
        >
      </div>
    </div>
  </div>
</div>
